.primary-nav{
    height: 60px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0px;
    z-index: 1000;
}


*{
    margin: 0px;
    
}
.primary-nav img{
    aspect-ratio: 100%;
    height: 60px;
    width: 60px;
}
.loc-lin{
    line-height: 1px;
    position: relative;
    top: 8px;
}
.location{
    display: flex;
    position: relative;
    top: ;
}
.loc{position: relative;
top: 5px;}

.form-control{
    width: 500px;
} 
h6{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 
.body-sec{
    background-color:;
} 
.second-nav{
    height: 50px;
    width: 100%;
    background-color: rgb(47, 46, 46);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;  
} 


        
.second-nav a{

    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}
.second-nav a:first-child{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;

}
.second-nav a:hover{
    color: rgb(249, 229, 6);
    border: 1px rgb(240, 237, 234) solid;
    font-size: 25px;
    border-radius: 10px;
    
}

      

.location:hover{
    color: coral;
}
.signin:hover{
    color: coral;
}
.orders:hover{
    color: coral;
}
.cart:hover{
    color: coral;
}
.searchbar{
    position: relative;
    top: 8px;
}
.carousel-inner img{
    height: 700px;
    width: 99%;
}
.carouselslide{
    margin-left: 15px;
    
    
}
.carousel-control-prev-icon{
    position: relative;
    bottom: 140px;
    left: 12px;
}
.carousel-control-next-icon{
    position: relative;
    right: 50px;
    bottom: 140px;
}
.offerbox1{
    height: 335px;
    width: 350px;
    background-color: rgb(205, 211, 211);
    text-align: center;
    /* margin: 50px; */
}
.offerboxes{
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 350px;
    
}
.set1 img{
    height: 120px;
    width: 120px;
}
.set1{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 10px;

}
.set2 img{
    height: 120px;
    width: 120px;
}
.set2{
    display: flex;
    justify-content: space-around;
    position: relative;
    
}
.cloths-section{
    height: 400px;
    width: 100%;
    background-color: antiquewhite;
    position: relative;
    bottom: 300px;
    
    
}
.cloths-section h1{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: italic;
font-size: 30px;
font-weight: bolder;
text-align: center;
position: relative;
color: rgb(47, 148, 168);

}
.cloths-section a{
    text-decoration: none;
}
.cloth-section-images{
    display: flex;
    justify-content: space-around;
    
}
.cloth-section-images img{
    height: 320px;
    width: 320px;
}
.cloth-section-images img:hover{
    height: 330px;
    width: 330px;
}
.cloth-section-images h5{
    text-align: center;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-style: oblique;
   font-weight: bold;
    color: grey;
}
.cloths-offer{
    height: 300px;
    width: 100%;
    position: relative;
    bottom: 300px;
    border: 1px solid;
}
.cloths-offer img{
    padding: 20px;
}

.fashion-section{
    height: 300px;
    width: 100%;
    background-color: rgb(9, 233, 158);
    position: relative;
    bottom: 300px;
    
}
.fashion-section a{
    text-decoration: none;
}
.fashion-section h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    position: relative;
    color: rgb(47, 148, 168);
}
.fashion-section-images{
    display: flex;
    justify-content: space-around;
}
.fashion-section-images img{
    height: 200px;
    width: 200px;
}
.fashion-section-images img:hover{
    height: 220px;
    width: 220px;
}
.fashion-section-images h5{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-style: oblique;
   font-weight: bold;
    color: grey;
}
.fash-offer{
    height: 220px;
    width: 100%;
    position: relative;
    bottom: 300px;
    
    border: 1px solid;
    background-color: cornsilk;


}
.fash-offer img{
height: 180px;
width: 180px;
padding: 20PX;
}

.electronics-section{
    height: 300px;
    width: 100%;
    background-color: rgb(242, 208, 12);
    position: relative;
    bottom: 300px;
}
.electronics-section h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    position: relative;
    color: rgb(47, 148, 168);
}
.electronics-section a{
    text-decoration: none;
}
.electronics-section-images{
    display: flex;
    justify-content: space-around;
}
.electronics-section-images img{
    height: 200px;
    width: 200px;
}
.electronics-section-images img:hover{
    height: 220px;
    width: 220px;
}
.electronics-section-images h5{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-style: oblique;
   font-weight: bold;
    color: grey;
}
.ele-offer{
    height: 230px;
    width: 100%;
    position: relative;
    bottom: 300px;
border:1px solid;}
.ele-offer img{
height: 180px;
width: 180px;
padding: 20PX;
}
.homeappliences-section{
    height: 300px;
    width: 100%;
    background-color: rgb(228, 185, 31);
    position: relative;
    bottom: 295px;

}
.homeappliences-section h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    position: relative;
    color: rgb(47, 148, 168);
}
.homeappliences-section a{
    text-decoration: none;
}
.Footwear-section{
    height: 300px;
    width: 100%;
    background-color: rgb(249, 188, 4);
    position: relative;
    bottom: 290px;
    
}
.Footwear-section h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    position: relative;
    color: rgb(47, 148, 168);
}
.app-offer{
    height: 230px;
    width: 100%;
    position: relative;
    bottom: 290px;
border:1px solid;}
.app-offer img{
height: 180px;
width: 180px;
padding: 20PX;
}

.Footwear-section a{
    text-decoration: none;
}
.footwear-section-images{
    display: flex;
    justify-content: space-around;
}
.footwear-section-images img{
    height: 200px;
    width: 200px;
}
.footwear-section-images img:hover{
    height: 220px;
    width: 220px;
}
.footwear-section-images h5{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-style: oblique;
   font-weight: bold;
    color: grey;
}
.fot-offer{
    height: 230px;
    width: 100%;
    position: relative;
    bottom: 285px;
border:1px solid;}
.fot-offer img{
height: 180px;
width: 180px;
padding: 26PX;
}
.groceries-section{
    height: 520px;
    width: 100%;
    background-color: aquamarine;
    position: relative;
    bottom: 285px;
    margin: 10px white;
    
}
.groceries-section h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    position: relative;
    color: rgb(47, 148, 168);
}

.groceries-section a{
    text-decoration: none;
}
.groceries-section-images{
    display: flex;
    justify-content: space-around;
}
.groceries-section-images img{
    height: 200px;
    width: 200px;
}
.groceries-section-images img:hover{
    height: 220px;
    width: 220px;
}
.groceries-section-images h5{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-style: oblique;
   font-weight: bold;
    color: grey;
}
.gro-sec-second-images{
    position: relative;
    top: 40px;
}
.gro-offer{
    height: 600px;
    width: 100%;
    position: relative;
    bottom: 285px;
left: px;
border: 1px solid;}
.gro-offer img{
height: 280px;
width: 280px;
padding: 25PX;
position: relative;
left: 30px;
}





